:root {
  --primary: #A3FF12;
  --primary-hover: #8FE000;
  --secondary: #6D28D9;

  --bg: #0B0B0F;
  --card: #14141C;
  --border: #2A2A35;

  --text: #FFFFFF;
  --text-secondary: #A1A1AA;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  z-index: 10;
}

.header h1 {
  color: #caff70;
  margin: 0;
}

.feed {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.videoCard {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 80px;
  left: 15px;
}

.username {
  font-weight: bold;
}

.caption {
  font-size: 14px;
}

.actions {
  position: absolute;
  right: 15px;
  bottom: 100px;
}

.actions button {
  background: var(--primary);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions span {
  font-size: 14px;
}
